* {
    margin: 0px;
}

/* Fonts */
* {
    font-family: 'Lato', sans-serif;
}

/* header */
.header {
    background-color: rgba(229, 84, 115, 0.10);
    ;
    height: 850px;
    display: flex;
    align-items: center;
}